<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    
   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Montserrat:ital,wght@1,600;1,800&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
    
    <style>

        body{
            background-color: #b0e0e6;
        }

    </style>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include("./partials/nav.ejs") -%>

    <div class="container inventory-container">

        <h1><img width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/2921/2921222.png"/> Inventory Records</h1>
        <br/>
        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Package</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Delivery Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% data.forEach((d) => { %>
                    <tr>
                        <td><%= d.goods %></td>
                        <td><%= d.package %></td>
                        <td><%= d.category%></td>
                        <td><%= d.quantity%></td>
                        <td><%= d.price%></td>
                        <td><%= d.amount %></td>
                        <td><%= d.date %></td>
                        <td><%= d.time %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </div>

    <!-- <img src="../public/images/warehouse-management-system.jpg" class="wms-bg" alt="wms-image"/> -->
    
</body>
</html>